---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	{/** the BaseLayout component contains
	 * a <slot /> component that takes injects child content
	 * written between the open/close tags of a Component
	*/}
	<h2>My awesome blog subtitle</h2>
</BaseLayout>